## å¯¼å…¥ä¾èµ–ç¯å¢ƒ

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import random
import time

def set_seed(s=0):
    random.seed(s)
    np.random.seed(s)
    tf.random.set_seed(s)

from sklearn.model_selection import train_test_split

## æ•°æ®å¯¼å…¥ä»¥åŠé¢„å¤„ç†

In [2]:
df = pd.read_csv('E:\Graduation_Project\datasets\heart.csv')
# 1ï¸âƒ£ åˆ’åˆ†ç±»åˆ«å‹å’Œæ•°å€¼å‹ç‰¹å¾
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']
numeric_features = [col for col in df.columns if col not in categorical_features + ['target']]
df[categorical_features] = df[categorical_features].astype(str)

# UCI å¿ƒè„ç—…æ•°æ®é›†ï¼ˆCleveland Heart Disease Datasetï¼‰

è¯¥æ•°æ®é›†åŒ…å«æ‚£è€…åŸºæœ¬ä¿¡æ¯ã€ä¸´åºŠæ£€æŸ¥å’Œå¿ƒç”µå›¾ç»“æœç­‰ 14 ä¸ªç‰¹å¾ï¼Œç”¨äºé¢„æµ‹æ˜¯å¦æ‚£æœ‰å¿ƒè„ç—…ã€‚

---

## å­—æ®µè¯´æ˜

- **Age**ï¼šå¹´é¾„ï¼ˆå²ï¼‰ï¼Œå¹´é¾„è¶Šå¤§é£é™©è¶Šé«˜ã€‚  
- **Sex**ï¼šæ€§åˆ«ï¼ˆ1=ç”·æ€§ï¼Œ0=å¥³æ€§ï¼‰ï¼Œç”·æ€§é£é™©é€šå¸¸æ›´é«˜ã€‚  
- **CP**ï¼šèƒ¸ç—›ç±»å‹ï¼ˆ0=å…¸å‹å¿ƒç»ç—›ï¼Œ1=éå…¸å‹ï¼Œ2=éå¿ƒæºæ€§ï¼Œ3=æ— ç—‡çŠ¶ï¼‰ï¼Œåæ˜ å¿ƒè„ç—…é£é™©å·®å¼‚ã€‚  
- **Trestbps**ï¼šé™æ¯è¡€å‹ï¼ˆmmHgï¼‰ï¼Œé«˜è¡€å‹ä¼šå¢åŠ å¿ƒè„ç—…é£é™©ã€‚  
- **Chol**ï¼šè¡€æ¸…èƒ†å›ºé†‡ï¼ˆmg/dlï¼‰ï¼Œé«˜èƒ†å›ºé†‡æ˜“å¯¼è‡´åŠ¨è„‰ç²¥æ ·ç¡¬åŒ–ã€‚  
- **FBS**ï¼šç©ºè…¹è¡€ç³–>120 mg/dlï¼ˆ1=æ˜¯ï¼Œ0=å¦ï¼‰ï¼Œç³–å°¿ç—…æ‚£è€…é£é™©æ›´é«˜ã€‚  
- **RestECG**ï¼šé™æ¯å¿ƒç”µå›¾ï¼ˆ0=æ­£å¸¸ï¼Œ1=ST-T å¼‚å¸¸ï¼Œ2=å·¦å¿ƒå®¤è‚¥å¤§ï¼‰ï¼Œåæ˜ å¿ƒè„åŠŸèƒ½ã€‚  
- **Thalach**ï¼šæœ€å¤§å¿ƒç‡ï¼Œæ•°å€¼ä½å¯èƒ½æç¤ºå¿ƒåŠŸèƒ½å¼‚å¸¸ã€‚  
- **Exang**ï¼šè¿åŠ¨è¯±å‘å¿ƒç»ç—›ï¼ˆ1=æ˜¯ï¼Œ0=å¦ï¼‰ï¼Œä¾›è¡€ä¸è¶³çš„è¡¨ç°ã€‚  
- **Oldpeak**ï¼šè¿åŠ¨å¼•èµ·çš„ ST æ®µå‹ä½ï¼ˆmmï¼‰ï¼Œæ•°å€¼å¤§è¯´æ˜ç¼ºè¡€é£é™©é«˜ã€‚  
- **Slope**ï¼šè¿åŠ¨å¿ƒç”µå›¾ ST æ®µæ–œç‡ï¼ˆ0=ä¸‹æ–œå±é™©æœ€å¤§ï¼Œ1=å¹³ï¼Œ2=ä¸Šæ–œç›¸å¯¹æ­£å¸¸ï¼‰ã€‚  
- **CA**ï¼šä¸»è¦è¡€ç®¡æ•°ï¼ˆ0â€“3ï¼‰ï¼Œå µå¡æ•°é‡è¶Šå¤šé£é™©è¶Šå¤§ã€‚  
- **Thal**ï¼šæ ¸åŒ»å­¦æ‰«æç»“æœï¼ˆ3=æ­£å¸¸ï¼Œ6=å›ºå®šç¼ºé™·ï¼Œ7=å¯é€†ç¼ºé™·ï¼‰ï¼Œå¯é€†ç¼ºé™·æç¤ºå¿ƒè‚Œç¼ºè¡€ã€‚  
- **Target**ï¼šå¿ƒè„ç—…è¯Šæ–­ï¼ˆ1=æœ‰ç—…ï¼Œ0=æ— ç—…ï¼‰ï¼Œé¢„æµ‹ç›®æ ‡å˜é‡ã€‚

---

## æ€»ç»“
è¿™äº›å˜é‡æ¶µç›– **äººå£å­¦ä¿¡æ¯ã€å®éªŒå®¤æ£€æŸ¥ã€å¿ƒç”µå›¾ä¸é€ å½±æŒ‡æ ‡**ï¼Œå…±åŒç”¨äºé¢„æµ‹å¿ƒè„ç—…çš„å‘ç”Ÿã€‚

In [3]:
import dice_ml
from dice_ml.utils.helpers import DataTransfomer
transformer = DataTransfomer(func='ohe-min-max')


target = df['target']
train_dataset, test_dataset, y_train, y_test = train_test_split(df, 
                                                                target,
                                                                test_size=0.2, 
                                                                random_state=42, 
                                                                stratify=df['target'])



X_train_df = train_dataset.drop('target', axis=1)
X_test_df = test_dataset.drop('target', axis=1)
d = dice_ml.Data(dataframe=df,
                 continuous_features=numeric_features,
                 outcome_name='target')
# 2. ç»‘å®š data_interfaceï¼Œç”¨äºå®šä¹‰å“ªäº›åˆ—æ˜¯è¿ç»­/ç±»åˆ«/ç›®æ ‡å˜é‡ç­‰
transformer.feed_data_params(d)
# âœ… 3. åˆå§‹åŒ–è½¬æ¢å™¨ï¼ˆè¿™æ˜¯ä½ æ¼æ‰çš„æ­¥éª¤ï¼ï¼‰
transformer.initialize_transform_func()

X_train = transformer.transform(X_train_df)
X_test = transformer.transform(X_test_df)

In [4]:
import numpy as np

# å¦‚æœæ˜¯ç¨€ç–çŸ©é˜µï¼ˆå¦‚OneHot+æ ‡å‡†åŒ–åçš„è¾“å‡ºï¼‰ï¼Œå…ˆè½¬ä¸ºdense
if hasattr(X_train, "toarray"):
    X_dense = X_train.toarray()
else:
    X_dense = X_train

# 1. è®¡ç®—ä¸­å¿ƒç‚¹ï¼ˆæ¯åˆ—å‡å€¼ï¼‰
centroid = np.mean(X_dense, axis=0)

# 2. è®¡ç®—æ¯ä¸ªæ ·æœ¬åˆ°ä¸­å¿ƒçš„æ¬§æ°è·ç¦»
distances = np.linalg.norm(X_dense - centroid, axis=1)

# 3. æ‰¾åˆ°æœ€è¿‘æ ·æœ¬çš„ç´¢å¼•
closest_idx = np.argmin(distances)
closest_idx

84

## å¾…è§£é‡Šæ¨¡å‹è®­ç»ƒä»¥åŠè¯„ä¼°

In [5]:
from tensorflow import keras
from tensorflow.keras.utils import to_categorical
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score

def build_simple_dnn():
    model = keras.models.Sequential()
    model.add(keras.layers.Dense(16, activation='relu', input_shape=(31,)))  # è¾“å…¥31ç»´ç‰¹å¾
    model.add(keras.layers.Dense(2, activation='softmax'))
    model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
    return model

set_seed(1)

model = build_simple_dnn()

# 6ï¸âƒ£ è®­ç»ƒæ¨¡å‹
model.fit(X_train, to_categorical(y_train), epochs=10, batch_size=8, verbose=1)
model.save_weights('my_model_weights.h5')  # åªä¿å­˜æƒé‡

Epoch 1/10
31/31 [==============================] - 0s 1ms/step - loss: 0.7467 - accuracy: 0.4752
Epoch 2/10
31/31 [==============================] - 0s 972us/step - loss: 0.5915 - accuracy: 0.6983
Epoch 3/10
31/31 [==============================] - 0s 882us/step - loss: 0.5326 - accuracy: 0.7190
Epoch 4/10
31/31 [==============================] - 0s 868us/step - loss: 0.4943 - accuracy: 0.7479
Epoch 5/10
31/31 [==============================] - 0s 845us/step - loss: 0.4576 - accuracy: 0.7686
Epoch 6/10
31/31 [==============================] - 0s 925us/step - loss: 0.4223 - accuracy: 0.7851
Epoch 7/10
31/31 [==============================] - 0s 864us/step - loss: 0.3908 - accuracy: 0.8017
Epoch 8/10
31/31 [==============================] - 0s 837us/step - loss: 0.3667 - accuracy: 0.8182
Epoch 9/10
31/31 [==============================] - 0s 851us/step - loss: 0.3492 - accuracy: 0.8388
Epoch 10/10
31/31 [==============================] - 0s 904us/step - loss: 0.3329 - accuracy: 0.8554

In [6]:
# é¢„æµ‹ï¼ˆä»¥X_testä¸ºä¾‹ï¼‰
y_pred_prob = model.predict(X_test)

# æ¦‚ç‡è½¬ç±»åˆ«
y_pred = y_pred_prob.argmax(axis=1)

# è®¡ç®—å‡†ç¡®ç‡
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred)
print(f'Accuracy: {acc:.3f}')

2/2 [==============================] - 0s 2ms/step
Accuracy: 0.836

In [7]:
from sklearn.metrics import classification_report, f1_score
import numpy as np

# é¢„æµ‹æ¦‚ç‡
y_probs = model.predict(X_test)
# è½¬ä¸ºç±»åˆ«æ ‡ç­¾ï¼ˆå–æ¦‚ç‡æœ€å¤§ç´¢å¼•ï¼‰
y_pred = np.argmax(y_probs, axis=1)

# æ‰“å°åˆ†ç±»æŠ¥å‘Šï¼ˆå«F1åˆ†æ•°ã€å‡†ç¡®ç‡ã€å¬å›ç‡ï¼‰
print(classification_report(y_test, y_pred, digits=4))

# ä¹Ÿå¯ä»¥åˆ†åˆ«æå– F1ï¼ˆå®ã€å¾®ï¼‰
f1_macro = f1_score(y_test, y_pred, average='macro')
f1_micro = f1_score(y_test, y_pred, average='micro')

print(f"F1 Macro: {f1_macro:.4f}, F1 Micro: {f1_micro:.4f}")

2/2 [==============================] - 0s 2ms/step
              precision    recall  f1-score   support

           0     0.8400    0.9545    0.8936        44
           1     0.8182    0.5294    0.6429        17

    accuracy                         0.8361        61
   macro avg     0.8291    0.7420    0.7682        61
weighted avg     0.8339    0.8361    0.8237        61

F1 Macro: 0.7682, F1 Micro: 0.8361

## ç¼–è¯‘DiCEåäº‹å®è§£é‡Šå™¨
### (1)KDtree

In [8]:
import dice_ml
# Step 1: dice_ml.Data
d = dice_ml.Data(dataframe=df,
                 continuous_features=numeric_features,
                 outcome_name='target')
# Using sklearn backend
m = dice_ml.Model(model=model, 
                  backend="TF2", 
                  func="ohe-min-max")
# Using method=random for generating CFs
exp = dice_ml.Dice(d, m,
                   method="kdtree")

In [9]:
from dice_ml.model_interfaces.keras_tensorflow_model import KerasTensorFlowModel
def patched_get_output(self, input_tensor, model_score=True, training=False, transform_data=False):
    import tensorflow as tf
    if transform_data or not tf.is_tensor(input_tensor):
        input_tensor = tf.constant(self.transformer.transform(input_tensor).to_numpy(), dtype=tf.float32)
    output = self.model(input_tensor, training=training)
    return output
KerasTensorFlowModel.get_output = patched_get_output

#### KDtreeæ–¹æ³•è®­ç»ƒä»¥åŠè¯„ä¼°

In [10]:
set_seed(0)

start = time.time()
e1_kdtree = exp.generate_counterfactuals(
    X_test_df,
    total_CFs=4,
    desired_class="opposite",
    features_to_vary = X_train_df.columns[X_train_df.columns != 'sex'].tolist()
)
end = time.time()
time_kdtree = (end - start)/X_test.shape[0]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61/61 [00:23<00:00,  2.57it/s]

In [11]:
exp.generate_counterfactuals(
    X_train_df[closest_idx:closest_idx+1],
    total_CFs=4,
    desired_class="opposite",
    features_to_vary = X_train_df.columns[X_train_df.columns != 'sex'].tolist()
).visualize_as_dataframe(show_only_changes=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00,  1.81it/s]

Query instance (original outcome : 0)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,54,1,4,140,239,0,0,160,0,1.2,1,0,normal,0

Diverse Counterfactual set (new outcome: 1.0)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
31,60,-,-,117,230,1,-,-,1,-,-,2,reversible,1
42,67,-,-,125,254,1,-,-,-,0.2,2,2,reversible,1
124,-,-,-,108,-,1,-,147,-,0.1,-,3,reversible,1
282,59,-,-,110,-,-,2,142,1,-,2,1,reversible,1

### (2)Random

In [12]:

exp = dice_ml.Dice(d, m,
                   method="random")
start = time.time()
e1_random = exp.generate_counterfactuals(
    X_test_df,
    total_CFs=4,
    desired_class="opposite",
    features_to_vary = X_train_df.columns[X_train_df.columns != 'sex'].tolist()
)
end = time.time()
time_random = (end - start)/X_test.shape[0]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61/61 [00:44<00:00,  1.36it/s]

In [13]:
exp.generate_counterfactuals(
    X_train_df[closest_idx:closest_idx+1],
    total_CFs=4,
    desired_class="opposite",
    features_to_vary = X_train_df.columns[X_train_df.columns != 'sex'].tolist()
).visualize_as_dataframe(show_only_changes=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:01<00:00,  1.07s/it]

Query instance (original outcome : 0)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,54,1,4,140,239,0,0,160,0,1.2,1,0,normal,0

Diverse Counterfactual set (new outcome: 1)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-,-,-,-,352,1,-,-,-,-,-,2,reversible,1
1,-,-,-,110,-,-,-,-,1,-,-,3,reversible,1
2,-,-,-,-,-,-,-,-,1,2.5,2,-,reversible,1
3,-,-,-,-,-,1,-,-,-,-,-,2,reversible,1

### (3)Genetic

In [14]:

exp = dice_ml.Dice(d, m,
                   method="genetic")
start = time.time()
e1_genetic = exp.generate_counterfactuals(
    X_test_df,
    total_CFs=4,
    desired_class="opposite",
    features_to_vary = X_train_df.columns[X_train_df.columns != 'sex'].tolist()
)
end = time.time()
time_genetic = (end - start)/X_test.shape[0]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61/61 [02:08<00:00,  2.10s/it]

In [15]:
exp.generate_counterfactuals(
    X_train_df[closest_idx:closest_idx+1],
    total_CFs=4,
    desired_class="opposite",
    features_to_vary = X_train_df.columns[X_train_df.columns != 'sex'].tolist()
).visualize_as_dataframe(show_only_changes=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00,  1.66it/s]

Query instance (original outcome : 0)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,54,1,4,140,239,0,0,160,0,1.2,1,0,normal,0

Diverse Counterfactual set (new outcome: 1.0)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,60,-,-,-,293,-,2,170,-,-,2,2,reversible,1
0,29,-,-,-,-,-,-,139,1,2.0,2,-,reversible,1
0,59,-,-,110,-,-,2,142,1,-,2,1,reversible,1
0,60,-,-,117,230,1,-,-,1,1.4,-,2,reversible,1

### (4)Gradient

In [16]:

def store_cfs(e1, length):
    list_cfs = []
    for i in range(length):
        list_cfs.append((
            e1.cf_examples_list[i].test_instance_df,
            e1.cf_examples_list[i].final_cfs_df
              ))
    return list_cfs

æ³¨æ„ï¼ï¼ï¼è¿™é‡Œæ¨¡å‹åœ¨æœªè¾¾åˆ°æœ€å¤§è¿­ä»£æ•°ä¾¿æ”¶æ•›åˆ°äº†æœ€ä¼˜è§£ï¼Œä½†æ˜¯è¾“å‡ºçš„æ¦‚ç‡ä¾æ—§å­˜åœ¨ä¸€ä¸ªä¸åŸå§‹æ ·æœ¬é¢„æµ‹ç±»åˆ«ä¸€æ ·çš„é”™è¯¯åäº‹å®è§£é‡Šã€‚åŸå› åœ¨äºæ¨¡å‹å†…éƒ¨å†é€†æ˜ å°„æ—¶ï¼Œä¼šå¯¹ç»“æœè¿›è¡Œèˆå…¥åˆ°åŸå§‹æ•°æ®çš„ç²¾åº¦ï¼Œè€Œè¿™ç§å¾®å°çš„æ”¹å˜å¯èƒ½å¯¼è‡´é¢„æµ‹å€¼çš„å¤§å¹…æ›´æ”¹ï¼Œè¿™ç‚¹æˆ‘å·²éªŒè¯ã€‚è¿™é‡Œå‘ç°validationæ¦‚ç‡åä½çš„åŸå› æ˜¯æ•°æ®ä¸­ç±»åˆ«å˜é‡å­˜åœ¨intå‹æ•°æ®ï¼Œè€ŒDiCEå†…éƒ¨è½¬åŒ–æ˜¯æŒ‰ç…§stringçš„å½¢å¼è½¬åŒ–ï¼Œå¦‚æœä½ åŠ ä¸Š handle_unknown='ignore'ï¼Œé‡åˆ°æ–°ç±»åˆ«æ—¶ä¸ä¼šæŠ¥é”™ï¼Œè€Œæ˜¯å…¨éƒ¨ç½®é›¶ï¼ˆå³è¯¥ç‰¹å¾çš„ one-hot å…¨æ˜¯0ï¼Œæ¨¡å‹ä¼šè‡ªåŠ¨å¿½ç•¥æ‰è¿™ä¸ªæ–°ç±»åˆ«ï¼‰ã€‚è€Œæˆ‘ä»¬çš„intå‹æ•°æ®è™½ç„¶åœ¨è‚‰çœ¼ä¸Šå’Œstringæ˜¯ä¸€æ ·çš„ï¼Œä½†ç¼–ç å™¨ä¸è¿™ä¹ˆè®¤ä¸ºï¼Œæ‰€ä»¥ä¼šå‡ºç°å¤§é‡çš„å…¨é›¶æ•°æ®ä»£è¡¨æ–°ç±»åˆ«ï¼Œä»è€Œå¯¼è‡´é¢„æµ‹ç»“æœå¼ºçƒˆåå·®ã€‚

In [17]:
start = time.time()
exp = dice_ml.Dice(d, m,
                   method="gradient")
e1_gradient = exp.generate_counterfactuals(
    X_test_df[0:1],
    total_CFs=4,
    desired_class="opposite",
    features_to_vary=X_train_df.columns[X_train_df.columns != 'sex'].tolist(),
    min_iter=0,
    max_iter=800
)

for i in range(1, X_test.shape[0]):
    e1_i = exp.generate_counterfactuals(
        X_test_df[i:i+1],
        total_CFs=4,
        desired_class="opposite",
        features_to_vary = X_train_df.columns[X_train_df.columns != 'sex'].tolist(),
        min_iter=0,
        max_iter=800
    )
    e1_gradient.cf_examples_list.append(e1_i.cf_examples_list[0])
end = time.time()

time_gradient = (end - start)/X_test.shape[0]

Diverse Counterfactuals found! total time taken: 00 min 07 sec
Diverse Counterfactuals found! total time taken: 00 min 11 sec
Diverse Counterfactuals found! total time taken: 00 min 06 sec
Diverse Counterfactuals found! total time taken: 00 min 05 sec
Diverse Counterfactuals found! total time taken: 00 min 37 sec
Diverse Counterfactuals found! total time taken: 00 min 15 sec
Diverse Counterfactuals found! total time taken: 00 min 08 sec
Diverse Counterfactuals found! total time taken: 00 min 06 sec
Diverse Counterfactuals found! total time taken: 00 min 07 sec
Diverse Counterfactuals found! total time taken: 00 min 07 sec
Diverse Counterfactuals found! total time taken: 00 min 10 sec
Diverse Counterfactuals found! total time taken: 00 min 09 sec
Diverse Counterfactuals found! total time taken: 00 min 14 sec
Diverse Counterfactuals found! total time taken: 00 min 14 sec
Diverse Counterfactuals found! total time taken: 00 min 14 sec
Diverse Counterfactuals found! total time taken: 00 min 04 sec
Diverse Counterfactuals found! total time taken: 00 min 09 sec
Diverse Counterfactuals found! total time taken: 00 min 14 sec
Diverse Counterfactuals found! total time taken: 00 min 07 sec
Diverse Counterfactuals found! total time taken: 00 min 14 sec
Diverse Counterfactuals found! total time taken: 00 min 06 sec
Diverse Counterfactuals found! total time taken: 00 min 06 sec
Diverse Counterfactuals found! total time taken: 00 min 08 sec
Diverse Counterfactuals found! total time taken: 00 min 06 sec
Diverse Counterfactuals found! total time taken: 00 min 03 sec
Diverse Counterfactuals found! total time taken: 00 min 17 sec
Diverse Counterfactuals found! total time taken: 00 min 08 sec
Diverse Counterfactuals found! total time taken: 00 min 11 sec
Diverse Counterfactuals found! total time taken: 00 min 09 sec
Diverse Counterfactuals found! total time taken: 00 min 08 sec
Diverse Counterfactuals found! total time taken: 00 min 15 sec
Diverse Counterfactuals found! total time taken: 00 min 07 sec
Diverse Counterfactuals found! total time taken: 00 min 08 sec
Diverse Counterfactuals found! total time taken: 00 min 18 sec
Diverse Counterfactuals found! total time taken: 00 min 04 sec
Diverse Counterfactuals found! total time taken: 00 min 03 sec
Diverse Counterfactuals found! total time taken: 00 min 08 sec
Diverse Counterfactuals found! total time taken: 00 min 11 sec
Diverse Counterfactuals found! total time taken: 00 min 05 sec
Diverse Counterfactuals found! total time taken: 00 min 13 sec
Diverse Counterfactuals found! total time taken: 00 min 04 sec
Diverse Counterfactuals found! total time taken: 00 min 14 sec
Diverse Counterfactuals found! total time taken: 00 min 09 sec
Diverse Counterfactuals found! total time taken: 00 min 04 sec
Diverse Counterfactuals found! total time taken: 00 min 06 sec
Diverse Counterfactuals found! total time taken: 00 min 13 sec
Diverse Counterfactuals found! total time taken: 00 min 20 sec
Diverse Counterfactuals found! total time taken: 00 min 14 sec
Diverse Counterfactuals found! total time taken: 00 min 13 sec
Diverse Counterfactuals found! total time taken: 00 min 04 sec
Diverse Counterfactuals found! total time taken: 00 min 11 sec
Diverse Counterfactuals found! total time taken: 00 min 05 sec
Diverse Counterfactuals found! total time taken: 00 min 08 sec
Diverse Counterfactuals found! total time taken: 00 min 05 sec
Diverse Counterfactuals found! total time taken: 00 min 37 sec
Diverse Counterfactuals found! total time taken: 00 min 16 sec
Diverse Counterfactuals found! total time taken: 00 min 23 sec
Diverse Counterfactuals found! total time taken: 00 min 05 sec
Diverse Counterfactuals found! total time taken: 00 min 09 sec
Diverse Counterfactuals found! total time taken: 00 min 09 sec
Diverse Counterfactuals found! total time taken: 00 min 04 sec

In [18]:
exp.generate_counterfactuals(
    X_train_df[closest_idx:closest_idx+1],
    total_CFs=4,
    desired_class="opposite",
    features_to_vary = X_train_df.columns[X_train_df.columns != 'sex'].tolist()
).visualize_as_dataframe(show_only_changes=True)

Diverse Counterfactuals found! total time taken: 00 min 47 sec
Query instance (original outcome : 0.03999999910593033)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,54.0,1,4,140.0,239.0,0,0,160.0,0,1.2,1,0,normal,0.04

Diverse Counterfactual set (new outcome: 1.0)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,49.0,-,-,-,-,1,-,-,-,-,2,3,reversible,1
1,-,-,2,-,-,-,-,152.0,1,-,3,2,reversible,1
2,-,-,-,-,230.0,-,-,-,1,3.0,2,2,-,1
3,-,-,-,-,-,-,-,-,-,6.2,-,2,reversible,1

In [19]:
cfs_kdtree = store_cfs(e1_kdtree, X_test.shape[0])
cfs_random = store_cfs(e1_random, X_test.shape[0])
cfs_genetic = store_cfs(e1_genetic, X_test.shape[0])
cfs_gradient = store_cfs(e1_gradient, X_test.shape[0])

In [24]:
print("Expected input dim:", model.input_shape)
print("Current X_org shape:", transformer.transform(cfs_kdtree[0][0]).shape)

Expected input dim: (None, 31)
Current X_org shape: (1, 32)

In [ ]:
import importlib
import XAI_metrics   # å…ˆ import ä¸€æ¬¡
importlib.reload(XAI_metrics)  # ğŸ”„ é‡æ–°åŠ è½½ï¼Œä¸éœ€è¦é‡å¯å†…æ ¸

from XAI_metrics import calc_valid, calc_sparsity, calc_continuous_proximity, \
    calc_categorical_proximity, calc_manifold_distance, calc_cf_num

valid_kdtree = calc_valid(cfs_kdtree, model, transformer, df.shape[1])
sparsity_kdtree = calc_sparsity(cfs_kdtree, categorical_features)
con_proximity_kdtree = calc_continuous_proximity(cfs_kdtree, numeric_features)
cat_proximity_kdtree = calc_categorical_proximity(cfs_kdtree, categorical_features)
manifold_kdtree = calc_manifold_distance(cfs_kdtree, df, categorical_features)
cf_num_kdtree = calc_cf_num(cfs_kdtree)

valid_random = calc_valid(cfs_random, model, transformer, df.shape[1])
sparsity_random = calc_sparsity(cfs_random, categorical_features)
con_proximity_random = calc_continuous_proximity(cfs_random, numeric_features)
cat_proximity_random = calc_categorical_proximity(cfs_random, categorical_features)
manifold_random = calc_manifold_distance(cfs_random, df, categorical_features)
cf_num_random = calc_cf_num(cfs_random)

valid_genetic = calc_valid(cfs_genetic, model, transformer, df.shape[1])
sparsity_genetic = calc_sparsity(cfs_genetic, categorical_features)
con_proximity_genetic = calc_continuous_proximity(cfs_genetic, numeric_features)
cat_proximity_genetic = calc_categorical_proximity(cfs_genetic, categorical_features)
manifold_genetic = calc_manifold_distance(cfs_genetic, df, categorical_features)
cf_num_genetic = calc_cf_num(cfs_genetic)

valid_gradient = calc_valid(cfs_gradient, model, transformer, df.shape[1])
sparsity_gradient = calc_sparsity(cfs_gradient, categorical_features)
con_proximity_gradient = calc_continuous_proximity(cfs_gradient, numeric_features)
cat_proximity_gradient = calc_categorical_proximity(cfs_gradient, categorical_features)
manifold_gradient = calc_manifold_distance(cfs_gradient, df, categorical_features)
cf_num_gradient = calc_cf_num(cfs_gradient)

In [35]:
results = {
    "method": ["kdtree", "random", "genetic", "gradient"],
    "Avg Time(s)": [time_kdtree, time_random, time_genetic, time_gradient],
    "Validity": [valid_kdtree, valid_random, valid_genetic, valid_gradient],
    "Sparsity": [sparsity_kdtree, sparsity_random, sparsity_genetic, sparsity_gradient],
    "Proximity_con": [con_proximity_kdtree, con_proximity_random, con_proximity_genetic, con_proximity_gradient],
    "Proximity_cat": [cat_proximity_kdtree, cat_proximity_random, cat_proximity_genetic, cat_proximity_gradient],
    "Manifold": [manifold_kdtree, manifold_random, manifold_genetic, manifold_gradient],
    "Avg CF count": [cf_num_kdtree, cf_num_random, cf_num_genetic, cf_num_gradient]
}

df_result = pd.DataFrame(results)

# ä¿ç•™ä¸¤ä½å°æ•°
df_result = df_result.round(2)

In [36]:
df_result.to_csv('./results/DiCE_result_heart.csv', index=False)